/* Stilizarile elementelor din Stripe */
/* In fara de width, toata stilizarea este luata din exemplul dat in
documentati oficiala(vezi link pe platforma). */

.checkout-form .stripe-element {
    width: 300px;
    height: 40px;
    padding: 10px 12px;
    color: #32325d;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 4px;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}