/* Stilizare pentru mobile! */
@media (max-width: 768px) {
    .filters-container {
        display: flex;
        margin-bottom: 1rem;
    }

    .filters-container .filter {
        margin-left: 1rem;
    }
}